<div class="container mt-4">
  <!-- Informações do Usuário -->
  <div class="card mb-4">
    <div class="card-body text-center">
      <h4 class="card-title">Bem-vindo, John Doe</h4>
    </div>
  </div>

  <!-- Botões de Navegação -->
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-people"></i> Reunião 1 a 1
          </h5>
          <button class="btn btn-primary w-100" [routerLink]="['/reunioes']">Acessar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-link-45deg"></i> Referências
          </h5>
          <button class="btn btn-primary w-100" [routerLink]="['/referencias']">Acessar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-file-earmark-text"></i> OPNF
          </h5>
          <button class="btn btn-primary w-100" [routerLink]="['/opnf']">Acessar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-chat-dots"></i> Testemunho
          </h5>
          <button class="btn btn-primary w-100" [routerLink]="['/testemunhos']">Acessar</button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-mortarboard"></i> Unidade de Educação
          </h5>
          <button class="btn btn-primary w-100" [routerLink]="['/educacao']">Acessar</button>
        </div>
      </div>
    </div>
  </div>
</div>
